# Localization
TZ=Europe/Madrid

# MariaDB (Seafile Backend)
DB_ROOT_PASSWD=change_me_secure_db_password

# Seafile Administration
SEAFILE_ADMIN_EMAIL=admin@example.com
SEAFILE_ADMIN_PASSWORD=change_me_secure_admin_password

# PostgreSQL (Development Backend)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me_secure_postgres_password
