[Unit]
Description=Filebrowser (Web File Manager)
After=network.target
RequiresMountsFor=/srv/filebrowser

[Service]
User=filebrowser
Group=filebrowser
ExecStart=/usr/local/bin/filebrowser -d /var/lib/filebrowser/filebrowser.db
Restart=on-failure
AmbientCapabilities=
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
ReadWritePaths=/var/lib/filebrowser /srv/filebrowser
WorkingDirectory=/var/lib/filebrowser

[Install]
WantedBy=multi-user.target
